* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(61, 59, 59);
  background-size: 300% 300%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#block {
  border-radius: 10px;
  width: 650px;
  height: 530px;
  background-color: white;
  margin-top: 10%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

h1 {
  letter-spacing: 2px;
  font-size: 40px;
  color: rgb(61, 59, 59);
}

input {
  color: white;
  border-radius: 5px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.363);
  background-color: rgb(61, 59, 59);
  margin: 0 0.5rem;
  padding: 10px;
}

input:focus {
  background-color: rgb(37, 35, 35);
  color: white;
}

input::placeholder {
  color: white;
}

input:focus::placeholder {
  color: white;
}

select {
  border: none;
  color: white;
  background-color: rgb(37, 35, 35);
  border-radius: 5px;
  padding: 10px;
}

button {
  border: none;
  color: white;
  background-color: rgb(37, 35, 35);
  border-radius: 5px;
  padding: 0 10px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(14, 13, 13);
  color: white;
}

.textCenter {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

img {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
  border-radius: 10px;
  width: 400px;
}

#resp {
  font-size: 20px;
  font-weight: bold;
  color: rgb(61, 59, 59);
}
